<html>
	<head>
		<title>EasyWaiter</title>
	</head>
	<body>
		Welcome to EasyWaiter!  Use the links below to get started!
	</body><br>
	<a href="/foods">See the Menu</a><br>
	<a href="/parties">See the Patrons</a><br>
	<a href="/orders">Take an Order</a>
</html>