<h2>All Parties</h2>
<% current = @parties.where(paid: 'f') %>
<% previous = @parties.where(paid: 't') %>
<h3>List of current patrons</h3>
  <ul><%current.each do |party| %>
    <li><a href="/parties/<%= party.id %>">Party #<%= party.id %></a></li>
  <% end %>
</ul>
<h3>List of previous Patrons</h3>
	<ul><% previous.each do |party| %>
    <li><a href="/parties/<%= party.id %>">Party #<%= party.id %></a></li>
  <% end %>
</ul>