<h2>Order Form</h2>

<form>
	<label for="food_id">Food by ID</label>
  <input id="name" type="integer" name='order[food_id]'><br>
  
  <label for="party_id">Party ID</label>
  <input id="cuisine" type="integer" name='order[party_id]'><br>

   <input type="submit">
</form>